.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: var(--header-gradient);
  padding: 2rem;
}

.header > a {
  max-width: 20rem;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-menu a {
  background-color: var(--first-color);
  padding: 0.8rem 1.4rem;
  border-radius: 0.4rem;
}

.darkmode {
  background-color: var(--first-color);
  padding: 1.1rem 1.4rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

.header-menu a:hover,
.darkmode:hover {
  background-color: #5e2fa5;
  transition: .3s;
}

.menu-mobile {
  display: none;
  cursor: pointer;
}

@media (max-width:800px) {
  .header-menu {
    display: none;
    position: absolute;
    top: 7.3rem;
    left: 0;
    background: var(--second-color);
    padding: 2rem 1rem;
    width: 100%;
    gap: 2rem;
    animation: drop-down 0.6s forwards;
    box-shadow: var(--box-shadow);
  }

  .header-menu.ativo {
    display: grid;
  }

  .header-menu a, .darkmode {
    background-color: transparent;
  }

  .menu-mobile {
    display: block;
    padding: 1.6rem 1.4rem;
    background-color: var(--cor-2);
    border: 0.1rem solid var(--cor-1);
    border-radius: 0.4rem;
  }
  
  .menu-mobile::after {
    content: '';
    display: block;
    height: 0.2rem;
    width: 2.4rem;
    background-color: white;
    box-shadow: 0 0.8rem white, 0 -0.8rem white;
  }
}