.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: var(--header-gradient);
  padding: 2rem;
}

.header > a {
  max-width: 20rem;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-menu a {
  background-color: var(--first-color);
  padding: 0.8rem 1.4rem;
  border-radius: 0.4rem;
}

.darkmode {
  background-color: var(--first-color);
  padding: 1.1rem 1.4rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

.header-menu a:hover,
.darkmode:hover {
  background-color: #5e2fa5;
  transition: .3s;
}

.menu-mobile {
  display: none;
}